%tr{ id: "#{lesson.id}" }
 %td
  = link_to user_course_lesson_path(course, lesson) do
   #{lesson.date_of.to_formatted_s(:long)}
 %td
  = image_tag lesson.image.thumb.url, alt: 'Lesson image'
 %td #{lesson.title}
 %td #{lesson.state.humanize}
 %td #{lesson.advancements.pending.count}
