%tbody.rowlink{ data: { link: 'row' } }
 - lessons.each do |lesson|
  %tr{ id: "#{lesson.id}" }
   %td
    = link_to course_lesson_path(course, lesson) do
     #{lesson.position}
   %td
    = image_tag lesson.image.thumb.url, alt: 'Lesson image'
   %td #{lesson.title}
   %td
