- provide(:title, 'Create your own course')
%div.container-fluid
 %div.row
  %div.col-md-8.col-md-offset-2

   = simple_form_for [:user, @course] do |field|
    = field.input :title
    = field.input :description,  input_html:{size:'50x10'}
    = field.input :image
    = field.submit
   = link_to 'Back', :back
