%span.username
 #{newsfeed.owner.first_name} #{newsfeed.owner.last_name}
 = link_to user_newsfeed_path(newsfeed), method: :delete, remote: true, class: 'btn-box-tool pull-right' do
  %i.fa.fa-times
%span.description
 = distance_of_time_in_words_to_now(newsfeed.updated_at)
 ago.

Excluded your from course:
= link_to "#{newsfeed.trackable.course.title}.", course_path(newsfeed.trackable.course)
Your subscription has been suspended. Now, you are not allowed to subscribe to this course.
%br/
