%span.username
 #{newsfeed.owner.first_name} #{newsfeed.owner.last_name}
 = link_to user_newsfeed_path(newsfeed), method: :delete, remote: true, class: 'btn-box-tool pull-right' do
  %i.fa.fa-times
%span.description
 = distance_of_time_in_words_to_now(newsfeed.updated_at)
 ago.

Lesson:
= link_to "#{newsfeed.trackable.title}.", course_lesson_path(newsfeed.trackable.course, newsfeed.trackable)
will start at: #{newsfeed.trackable.date_of.to_formatted_s(:long)}
At course:
= link_to "#{newsfeed.trackable.course.title}.", course_path(newsfeed.trackable.course)
%br/
Do not miss it!
%br/
