.container-fluid
 .row
  .col-md-8.col-md-offset-2
   %br/
   #{advancement.user.first_name} #{advancement.user.last_name}
   = link_to 'advancement:', user_course_lesson_advancement_path(course, lesson, advancement)

   = link_to user_course_lesson_advancement_approve_path(course, lesson, advancement), method: :post do
    = button_tag 'Approve', class: 'btn btn-success pull-right btn-xs', style:('display: none' if advancement.approved? || advancement.rejected?)
   = link_to user_course_lesson_advancement_reject_path(course, lesson, advancement), method: :post do
    = button_tag 'Reject', class: 'btn btn-danger pull-right btn-xs', style:('display: none' if advancement.approved? || advancement.rejected?)
   %br/
   #{advancement.version}
   %br/
   Status: #{advancement.state}
