= @user.first_name
= @user.last_name

= link_to 'Edit profile', edit_user_registration_path
%br/
- if flash[:notice]
 .notice
  = flash[:notice]

- User.omniauth_providers.each do |provider|
 = link_to "Assign your #{OmniAuth::Utils.camelize(provider)} account",
  user_omniauth_authorize_path(provider) unless current_user.social_profiles.find_by(provider: provider)
 %br/
