- provide(:title, 'Edit course')
= simple_form_for @course do |field|

  = field.input :title
  = field.input :description,  input_html:{size:'50x10'}
  = field.input :image
  = field.submit
= link_to 'Back', :back
