- provide(:title, 'courses')
= link_to 'Main page', root_path
- @courses_list.each do |course|
  %h3= link_to course.title, course_path(course)
  = course.description
  %br/
  = link_to 'Edit', edit_course_path(course)
  or
  \#{link_to 'delete', course_path(course), method: :delete, data: {confirm: 'Are you sure want to delete this course?!'}}
  this course
  %br/
= paginate @courses_list