- provide(:title, "#{course.title} course")
.container-fluid
 %ul#coursetab.nav.nav-tabs
  %li.active
   = link_to 'Homework', '#homework', data: {toggle: 'tab'}
  %li
   = link_to 'Subscribers', '#subscribers', data: {toggle: 'tab'}
  %li
   = link_to 'Description', '#description', data: {toggle: 'tab'}
 .tab-content
  #homework.tab-pane.active
   %section.content-header
    %h1.text-center
     Homework content
    = render 'courses/homework', course: course
  #subscribers.tab-pane
   %h1.text-center
    Subscribers
   %table.table.table-striped
    %thead
     %tr
      %th Subscriber
      %th Progress
    %tbody
     - @subscribers.each do |subscriber|
      %tr
       %td #{subscriber.first_name} #{subscriber.last_name}
       %td Progress-bar
  #description.tab-pane
   %h1.text-center
    Description
   .col-md-4
    = image_tag(course.image_url)
   .col-md-6
    = @course.description
