= simple_form_for(:user, url: edit_signed_up_with_social_user_profile_path, html: { method: :put }) do |f|
 = f.error_notification
 %h1 Please introduce yourself.
 .form-inputs
  = f.simple_fields_for :profile_attributes do |pf|
   = pf.input :first_name, required: true, autofocus: true, hint: 'Please set your first'
   = pf.input :last_name, required: true, hint: 'and last name.'
 .form-actions
  = f.button :submit, 'Update'
